# .config/nextest.toml
[store]
# Keep test artifacts (including our logs!) between runs
dir = "target/nextest"

[[profile.default.overrides]]
filter = "test(^zero2prod::)"
# Run integration tests in separate processes (this is the magic)
process-isolation = true